[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/SogolMasoumzadeh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SogolMasoumzadeh
	label-Verified = -1..+1 group user/SogolMasoumzadeh
	push = group user/SogolMasoumzadeh
	read = group user/SogolMasoumzadeh
	rebase = group user/SogolMasoumzadeh
	removeReviewer = group user/SogolMasoumzadeh
	submit = group user/SogolMasoumzadeh
[access "refs/heads/*"]
	create = group user/SogolMasoumzadeh
	push = +force group user/SogolMasoumzadeh
	pushMerge = group user/SogolMasoumzadeh
	read = group user/SogolMasoumzadeh
[access "refs/tags/*"]
	push = group user/SogolMasoumzadeh
	push = +force group user/SogolMasoumzadeh
